on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: sbt/setup-sbt@v1
    - uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: temurin
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/coursier
          ~/.cache/sbt
        key: scala-${{ hashFiles('build.sbt', 'project/plugins.sbt', 'project/build.properties') }}
    - run: sbt Test/compile
    - run: sbt test
